.buzzer {
    width: 200px;
    height: 200px;
}
.active-buzzer {
    background: green;
    color:white;
}
.inactive-buzzer {
    background:red;
    color: white;
}
span.inactive-buzzer:after {
    content:"Inactive";
}
span.active-buzzer:after {
    content:"Active";
}
#penalty {
    color:red;
    font-size: 200%;
    font-weight: bold;
}
