@import "forms";
@import "vars";

$buzzer-column-width: 10rem;

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  height: 100%;
}

.buzzer-column {
  width:$buzzer-column-width;
  text-align: center;
  display: inline-block;
  float:left;
  position:relative;
  height: 100%;
}

.buzzer {
  height:50px;
  width:100%;
}
.active-buzzer {
  background: green;
  color:white;
}
.inactive-buzzer {
  background:red;
  color: white;
}
span.inactive-buzzer:after {
  content:"Inactive";
}
span.active-buzzer:after {
  content:"Active";
}
#penalty {
  color:red;
  font-weight: bold;
}

.player-container {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-bottom: 1rem;
  .player {
    h2 {
      margin-bottom: 0;
    }
  }
  .player.active {
    background: #D0D6D6;
  }
  .player.buzz {
    color: black;
    background: #E3E34D;
  }
}

.content-wrapper {
  @include box-sizing();
  text-align: center;
  float:right;
  display: inline-block;
  // TODO make this buzzer-column-width
  width: calc(100% - 10rem);
  background:#1460DB;
  height:100%;
}

.jeopardy-board {
  @include box-sizing(border-box);
  padding: 1rem;
  width: 100%;
  height: 100%;

  .pure-g {
    height: 100%;
    .pure-u-1-5 {
      height: 100%;
    }
  }

  .category {
    height: 100%;
    width:100%;
    display: inline-block;

    .box {
      color: $button-primary-background-color;
      font-size: 200%;
      border:3px solid black;
      height:16%;
    }
    .question.box:hover {
      color: black;
      background: lighten($button-primary-background-color, 20%);
      border-color: $button-primary-background-color;
    }
  }
}

#question-display-modal {
  @include box-sizing(border-box);
  display: none;
  position:absolute;
  width: calc(100% - 10rem);
  left: 10rem;
  height: 100%;
  background: rgba(0,0,0,0.5);
  padding-left:2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 2rem;

  .content {
    @include box-sizing(border-box);
    text-align:center;
    font-size: 200%;
    width: 100%;
    height: 100%;
    padding: 1rem;


    background:#202899;
    color: white;
  }
}





