<div class="jeopardy-board">
    <div class="pure-g">
        <div class="pure-u-1-5">
            <div class="category">
                <div class="header box">
                    <h3 class="category-name"></h3>
                </div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
            </div>
        </div>
        <div class="pure-u-1-5">
            <div class="category">
                <div class="header box">
                    <h3 class="category-name"></h3>
                </div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
            </div>
        </div>
        <div class="pure-u-1-5">
            <div class="category">
                <div class="header box">
                    <h3 class="category-name"></h3>
                </div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
            </div>
        </div>
        <div class="pure-u-1-5">
            <div class="category">
                <div class="header box">
                    <h3 class="category-name"></h3>
                </div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
            </div>
        </div>
        <div class="pure-u-1-5">
            <div class="category">
                <div class="header box">
                    <h3 class="category-name"></h3>
                </div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
                <div class="question box"><span class="clue"></span></div>
            </div>
        </div>
    </div>
</div>
