<div class="jeopardy-board">
    <div class="pure-g">
        {% for i in 0..4 %}
        <div class="pure-u-1-5">
            <div class="category">
                <div class="header box">
                    <div class="category-name"></div>
                </div>
                <div class="question box"><span class="clue">Clue</span></div>
                <div class="question box"><span class="clue">Clue</span></div>
                <div class="question box"><span class="clue">Clue</span></div>
                <div class="question box"><span class="clue">Clue</span></div>
                <div class="question box"><span class="clue">Clue</span></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
