<div class="player-container">
    {% for player in players %}
        <div class="player {{ player }}" data-player-name="{{ player }}" {% if player == user %} data-active-player="true" {% endif %}>
            <h2>{{ player }}</h2>
            <div class="img-wrapper">
                <img src="/img/fill.jpg" />
            </div>
            <span class="score">0</span>
        </div>
    {% endfor %}
</div>
