<div id="final-jeopardy-display-modal">
    <div class="content">
        <h1 class="final-jeopardy-category" {% if admin %} style="font-size:50%" {% endif %}></h1>
        <h1 class="final-jeopardy-clue" {% if admin %} style="font-size:50%" {% endif %}></h1>

        <div class="contestant-response" style="display:none;">
            <h3 class="contestant-name"></h3>
            <h4 class="contestant-answer"></h4>
            <h5 class="contestant-wager"></h5>
        </div>

        {% if admin %}
            <div class="responses">
                {% for player in players %}
                    <div class="response" data-player="{{ player }}">{{ player }}</div>
                {% endfor %}
            </div>
            <div class="answer">
                <div class="content"></div>
            </div>
            <button id="final-jeopardy-next" data-current-step="category" class="button success">Next</button>
        {% elseif not obs %}
            <div class="final-jeopardy-bet-input-container">
                <label for="final-jeopardy-bet-input">Bet: </label>
                <input id="final-jeopardy-bet-input" type="number" value="0" />
            </div>

            <div class="final-jeopardy-answer-input-container" style="display:none;">
                <label for="final-jeopardy-answer-input">Answer:</label>
                <textarea id="final-jeopardy-answer-input" rows="4"></textarea>
            </div>
        {% endif %}
    </div>

</div>
