<div id="question-display-modal">
    <div class="content">
        <div class="clue">
            <div class="content"></div>
        </div>
        {% if admin %}
        <div class="answer">
            <h1>Answer</h1>
            <div class="content"></div>
        </div>
        {% else %}
            {# The interaction between flexbox and textfill means that if we dont have something that is flex-align:end #}
            {# with content in it, the question extends out of the box. So we add a period, and make it the background color #}
            <div class="flex-ender">.</div>
        {% endif %}
    </div>
</div>

<div id="daily-double-display-modal">
    <div class="content">
        <h1>Daily</h1>
        <h1>Double!</h1>

        {% if admin %}
            <form id="daily-double-form">
                <label for="daily-double-bet">Bet: </label>
                <input type="number" id="daily-double-bet" value="" />
                <br />
                <input type="submit" class="button" value="Submit" />
            </form>

        {% endif %}
    </div>
</div>


