{% set admin = true %}
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="buzzer-column">
        <div class="buzzer-controls">
            <div id="status-indicator" class="buzzer inactive-buzzer"></div>

            <button class="button" id="toggle-status">Toggle</button>
            <br />
            <button class="button bad" id="modal-dismiss">Dismiss</button>
            <br />
            <button id="trigger-final" class="button facebook">Start Final</button>
        </div>

        {% include 'partials/contestants.html.twig' with {'players': players, 'user': user} %}



    </div>
    <div class="content-wrapper">
        {% include 'partials/board.html.twig' %}
    </div>

    <script>
        var jeo = window.jeopardy;
        jeo.admin_mode = true;
        jeo.getStatusIndicatorElement = function() {
            return $('#status-indicator');
        };
        jeo.getJeopardyBoardElement = function() {
            return $('.jeopardy-board');
        };
        jeo.getPlayerElements = function() {
            return $('.player-container').find('.player').toArray();
        };
        jeo.getQuestionDisplayModal = function() {
            return $('#question-display-modal');
        };
        jeo.getDailyDoubleModal = function() {
            return $('#daily-double-display-modal');
        };
        jeo.getFinalJeopardyModal = function() {
            return $("#final-jeopardy-display-modal");
        };


        $(document).ready(function() {
            $('#toggle-status').click(function() {
                jeo.attemptBuzzerStatusChange($('#status-indicator').hasClass('inactive-buzzer'));
            });

            $('.question.box').click(function() {
                var categoryName = $(this).attr('data-category');
                var value = $(this).find('.clue').first().html();

                jeo.attemptNewQuestionDisplay(categoryName, value);
            });

            $('#modal-dismiss').click(function() {
                var modal = jeo.getQuestionDisplayModal();
                var category = modal.attr('data-category');
                var value = modal.attr('data-value');
                jeopardy.attemptQuestionDismiss(category, value);
            });

            $('.player').click(function() {
                var playerName = $(this).attr('data-player-name');
                var modal = jeo.getQuestionDisplayModal();
                var category = modal.attr('data-category');
                var value = modal.attr('data-value');
                var bet = jeo.getRealModalValue(modal);

                jeopardy.attemptQuestionAnswer(category, value, playerName, bet, true);
            });

            $('.player').bind('contextmenu', function() {
                var playerName = $(this).attr('data-player-name');
                var modal = jeo.getQuestionDisplayModal();
                var category = modal.attr('data-category');
                var value = parseInt(jeo.getRealModalValue(modal));
                var bet = jeo.getRealModalValue(modal);


                jeopardy.attemptQuestionAnswer(category, value, playerName, bet, false);

                return false;
            });

            $('#trigger-final').bind('contextmenu', function() {
                var current_step = $('#final-jeopardy-next').attr('data-current-step');
                jeopardy.attemptFinalJeopardyDisplay(current_step);

                return false;
            });

            $('#final-jeopardy-next').click(function() {
                var current_step = $(this).attr('data-current-step');
                jeo.attemptFinalJeopardyDisplay(current_step);
            });

            $('#daily-double-form').submit(function() {
                var modal = jeo.getDailyDoubleModal();
                var category = modal.attr('data-category');
                var value = parseInt(modal.attr('data-value'));
                var bet = $('#daily-double-bet').val();
                jeo.attemptDailyDoubleBet(category, value, bet);
                return false;
            });
        });



    </script>
{% endblock %}
