{% set admin = true %}
{% extends 'layout.html.twig' %}

{% block content %}
    <div class="buzzer-column">
        <div class="buzzer-controls">
            <div id="status-indicator" class="buzzer inactive-buzzer"></div>

            <button class="button" id="toggle-status">Toggle</button>
            <br />
            <button class="button bad" id="modal-dismiss">Dismiss</button>
            <br />
            <button id="trigger-final" class="button facebook">Start Final</button>
        </div>

        {% include 'partials/contestants.html.twig' with {'players': players, 'user': user, 'show_image': false } %}



    </div>
    <div class="content-wrapper">
        {% include 'partials/board.html.twig' %}
    </div>

    <script>
        var jeo = window.jeopardy;
        jeo.admin_mode = true;
        jeo.getStatusIndicatorElement = function() {
            return $('#status-indicator');
        };
        jeo.getJeopardyBoardElement = function() {
            return $('.jeopardy-board');
        };
        jeo.getPlayerElements = function() {
            return $('.player-container').find('.player').toArray();
        };
        jeo.getQuestionDisplayModal = function() {
            return $('#question-display-modal');
        };
        jeo.getDailyDoubleModal = function() {
            return $('#daily-double-display-modal');
        };
        jeo.getFinalJeopardyModal = function() {
            return $("#final-jeopardy-display-modal");
        };


        $(document).ready(function() {
            $('#toggle-status').click(function() {
                jeo.attemptBuzzerStatusChange($('#status-indicator').hasClass('inactive-buzzer'));
            });

            $('.question.box').click(function() {
                var categoryName = $(this).attr('data-category');
                var value = $(this).find('.clue').first().text();

                jeo.attemptNewQuestionDisplay(categoryName, value);
            });

            $('#modal-dismiss').click(function() {
                jeopardy.attemptQuestionDismiss();
            });

            $('.player').click(function() {
                var playerName = $(this).attr('data-player-name');
                var modal = jeo.getQuestionDisplayModal();

                // We're checking if the question display modal is visible, otherwise we're probably in final jeopardy.
                if (modal.is(":visible")) {
                    jeopardy.attemptQuestionAnswer(playerName, true);
                    return false;
                }

                modal = jeo.getFinalJeopardyModal();
                if (modal.is(':visible')) {
                    jeo.attemptAwardFinalJeopardyAmount(playerName, true);
                }

            });

            $('.player').bind('contextmenu', function() {
                var playerName = $(this).attr('data-player-name');
                var modal = jeo.getQuestionDisplayModal();

                // We're checking if the question display modal is visible, otherwise we're probably in final jeopardy.
                if (modal.is(':visible')) {
                    jeopardy.attemptQuestionAnswer(playerName, false);
                    return false;
                }

                modal = jeo.getFinalJeopardyModal();
                if (modal.is(':visible')) {
                    jeo.attemptAwardFinalJeopardyAmount(playerName, false);
                    return false;
                }

                return false;


            });

            $('#trigger-final').bind('contextmenu', function() {
                var current_step = $('#final-jeopardy-next').attr('data-current-step');
                jeopardy.attemptFinalJeopardyDisplay(current_step);

                return false;
            });

            $('#final-jeopardy-next').click(function() {
                var current_step = $(this).attr('data-current-step');
                jeo.attemptFinalJeopardyDisplay(current_step);
            });

            $('.responses .response').click(function() {
                jeo.attemptGetFinalJeopardyAnswer($(this).attr('data-player'));
                return false;
            });

            $('#daily-double-form').submit(function() {
                var bet = parseInt($('#daily-double-bet').val());
                jeo.attemptDailyDoubleBet(bet);
                return false;
            });
        });



    </script>
{% endblock %}
