{% extends 'layout.html.twig' %}

{% block content %}
    <div class="buzzer-column">
        <h1>Buzzer</h1>
        <div id="status-indicator" class="buzzer inactive-buzzer"></div>
        <br />
        <br />
        <button class="button" id="toggle-status">Toggle</button>

    </div>
    <div class="content-wrapper">

    </div>

    <script>
        var jeo = window.jeopardy;
        jeo.admin_mode = true;
        jeo.getStatusIndicatorElement = function() {
            return $('#status-indicator');
        };

        $(document).ready(function() {
            $('#toggle-status').click(function() {
                jeo.attemptBuzzerStatusChange($('#status-indicator').hasClass('inactive-buzzer'));
            });
        });



    </script>
{% endblock %}
