{% extends 'layout.html.twig' %}

{% block content %}
    <div class="buzzer-column">
        <h1>Buzzer</h1>
        <div id="status-indicator" class="buzzer inactive-buzzer"></div>
        <br />
        <br />
        <button class="button" id="toggle-status">Toggle</button>

        <br />
        <br/>
        <button class="button bad" id="modal-dismiss">Dismiss</button>
        {% include 'partials/contestants.html.twig' with {'players': players, 'user': user} %}



    </div>
    <div class="content-wrapper">
        {% include 'partials/board.html.twig' %}
    </div>

    <script>
        var jeo = window.jeopardy;
        jeo.admin_mode = true;
        jeo.getStatusIndicatorElement = function() {
            return $('#status-indicator');
        };
        jeo.getJeopardyBoardElement = function() {
            return $('.jeopardy-board');
        };
        jeo.getPlayerElements = function() {
            return $('.player-container').find('.player').toArray();
        };
        jeo.getQuestionDisplayModal = function() {
            return $('#question-display-modal');
        };


        $(document).ready(function() {
            $('#toggle-status').click(function() {
                jeo.attemptBuzzerStatusChange($('#status-indicator').hasClass('inactive-buzzer'));
            });

            $('.question.box').click(function() {
                var categoryName = $(this).attr('data-category');
                var value = $(this).html();

                jeo.attemptNewQuestionDisplay(categoryName, value);
            });

            $('#modal-dismiss').click(function() {
                var modal = jeo.getQuestionDisplayModal();
                var category = modal.attr('data-category');
                var value = modal.attr('data-value');
                jeopardy.attemptQuestionDismiss(category, value, null);
            });

            $('.player').click(function() {
                var playerName = $(this).attr('data-player-name');
                var modal = jeo.getQuestionDisplayModal();
                var category = modal.attr('data-category');
                var value = modal.attr('data-value');

                jeopardy.attemptQuestionDismiss(category, value, playerName);
            });
        });



    </script>
{% endblock %}
