{% extends 'layout.html.twig' %}

{% block content %}

    <div class="players-lower-third">
        {% for player in players %}
            <div class="player {{ player }}" data-player-name="{{ player }}">
                <h2>{{ player }}</h2>
                <span class="score">0</span>
            </div>
        {% endfor %}
    </div>


    <script>
        var jeo = window.jeopardy;
        jeo.getPlayerElements = function() {
            return $('.player-container').find('.player').toArray();
        };
    </script>

{% endblock %}
