<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/all.css" />
</head>
<body>
<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.jgz"></script>
<script src="/scripts/jeopardy.js"></script>

{% block content %}
{% endblock %}
{% include 'partials/questionModal.html.twig' %}
</body>
</html>
