{% extends 'layout.html.twig' %}

{% block content %}
    <div class="buzzer-column">
        <div class="buzzer-controls">
            <div id="buzzer-status" class="buzzer inactive-buzzer"></div>
            <button class="button" id="buzzer">Buzz In</button>

            <div class="penalty">
                <span id="penalty"></span>
            </div>
        </div>

        {% include 'partials/contestants.html.twig' with {'players': players, 'user': user} %}
    </div>
    <div class="content-wrapper">
        {% include 'partials/board.html.twig' %}
    </div>



<script>
    var jeo = window.jeopardy;
    jeo.getStatusIndicatorElement = function() {
        return $('#buzzer-status');
    };
    jeo.getBuzzerButtonElement = function() {
        return $('#buzzer');
    };
    jeo.getPenaltyDisplayElement = function() {
        return $('#penalty');
    };
    jeo.getJeopardyBoardElement = function() {
        return $('.jeopardy-board');
    };
    jeo.getQuestionDisplayModal = function() {
        return $('#question-display-modal');
    };
    jeo.getPlayerElements = function() {
        return $('.player-container').find('.player').toArray();
    };
    jeo.getDailyDoubleModal = function() {
        return $('#daily-double-display-modal');
    };

    $(document).ready(function() {
        $('#buzzer').click(function() {
            jeo.attemptBuzz("{{ user }}");
        });

        $(document).keydown(function(event) {
            if (event.keyCode == 74) {
                jeo.attemptBuzz("{{ user }}");
            }
        });

    });

</script>

{% endblock %}
